main {
    display: block;
    padding: 8px;
}
main header h1 {
    text-align: center;
    margin: 8px 0;
    background-color: white;
    padding: 8px;
}

#purpose {
    text-align: justify;
}

section {
    background-color: white;
    padding: 8px;
}