main div header h1 {
  background-color: white;
  text-align: center;
  margin: 8px 0;
  padding: 8px;
}

#purpose {
  text-align: justify;
}

section {
  background-color: white;
  padding: 8px;
}

#docs ul li {
  padding: 8px 0;
}