body {
  background-image: url("../images/background.jpg");
  margin: 0;
}
main {
  margin: 0 10%;
}
header {
  width: 100%;
}

header img {
  width: 100%;
  height: auto;
}

nav {
  overflow: hidden;
  background-color: #333;
}
