/* Page Theme Colors */
:root {
  --primary: #333;
  --secondary: white;
  --tertiary: black;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.active {
  background-color: var(--secondary);
  color: var(--tertiary);
}

@media screen and (min-width: 1024px) {

  body {
    padding: 0 15%;
  }
}

body {
  background-image: url("../images/background.jpg");
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  margin: 0;
}

header img {
  width: 100%;
  height: auto;
  margin: 0;
}

/******* Navigation Bar Styles *******/
nav {
  display: flex;
  justify-content: flex-start;
  background-color: var(--primary);
  font-family: Arial;
  margin: 0px;
}

nav>a {
  color: var(--secondary);
  font-size: 16px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

/******* Dropdown Styles *******/
.dropdown {
  position: relative;
  display: flex;
  align-items: center;
}

.dropdown button {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: left;
}

.dropdown-content a {
  display: inline-block;
  color: black;
  text-align: left;
  text-decoration: none;
  width: 100%;
  /* margin: 0 8px 8px; */
  padding: 8px;
}

.dropdown-content a.active {
  background-color: var(--primary);
  color: var(--secondary);
}

/******* Time Display *******/
#time-container {
  display: inline-block;
  font-size: 16px;
  color: var(--secondary);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: auto;
}

main {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

/******* Main Section Styles *******/
#main-section {
  flex: 3;
  background-color: var(--secondary);
  margin-right: 5%;
  padding: 8px;
}
/******* Tribal Partners Styles *******/
#tribal-partners {
  flex: 1;
  background-color: var(--secondary);
  padding: 8px;
}